body {
    margin: 0;
    overflow: hidden;
    /* Centramos el canvas en la página */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2c3e50; /* Color de fondo para el área fuera del canvas */
}

canvas {
    /* Reemplaza el .loop-wrapper */
    display: block;
    border-bottom: 3px solid #fff;
    background: #009688; /* Color inicial del cielo */
}